body {
  background: #1f2025;
  font-family: 'Muli', sans-serif;
  color: #333;
}

.page-title {
  outline: none;
}

#logo
{
    margin-left: -25px;
    margin-top: 400px;
    width: 350px;
}

span
{
   font-family: 'Muli', sans-serif;
    font-size: 20px;
}

#mainToolbar
{
    background: #446faa;
    background-size:contain;
  
}

#two
{
    transform: rotate(90deg)
}

.black
{
    color: black;
}

.siteContainer
{
    margin: -49px -62px;;
    padding: 0;
}

.noSplit
{
    width: 100%;
    height: 1000px;
}

.button
{ 
   color: white;
   background: #7892b1;
   font-family: 'Muli', sans-serif;
}

.button:hover
{
    background: #446faa;
    transition: 0.5s;
    color: white;
}

.page-heading
{
    font-size: 60px;
    color: #333
}

#URL
{
    height:auto;
    margin: 0px;
}

#inputName
{
    width: 500px;
}

#inputUrl
{
   display: inline-block;
   width: 500px;
}


.url
{
    display: inline-block;
    margin-right: 30px;
    
}

#URL1
{
    width: 250px;
    height: 250px;
    transition: .5s;
    margin-left: 0px;
}

#URL1:hover{
    background: #7892b1; 
}


#URL1:hover #white{
   width: 200px; 
}

paper-material
{
    border: solid 1px #cecdcd;
    display: inline-block;
    
}

    
.column
{
    padding-top: 35px;
    display: inline-block;
    width: 300px;
    height: 500px;
}
#firstColumn
{
    position: absolute;
}

#secondColumn
{
    position: absolute;
    margin-left: 372px;
}

#thirdColumn
{
    position: absolute;
    margin-left: 746px;
}

#fourthColumn
{
    position: absolute;
    margin-left: 1122px;
}

.container
{
    padding-bottom: 120px;
    width: 290px;
    height: 200px;
}

#black
{
    color: #afafaf;
    float: right;
    margin-top: -290px;
    height: 40px;
    width: 40px;
}

#black:hover
{
    color: #1d1d1d
}

#blue
{
    position: absolute;
    width: 200px;
    height: 20px;
    background: #7892b1;
    margin: 0px 0px 0 -30px;
    transition: .5s;
}

#white
{
    position: absolute;
    width: 0px;
    height: 20px;
    background: #ffffff;
    margin: 0px -30px;
    transition: .4s; 
}

a
{
    color: #414141
}

b
{
    position: absolute;
    margin-top: 30px;
    height: 120px;
    word-break: break-all;
    width: 350px;
}

c
{
    text-decoration: underline;
    color: #5151af;
    position: absolute;
    margin-top: 90px;
    height: 120px;
    word-break: break-all;
    width: 250px;
}


h1
{
   font-family: 'Muli', sans-serif;
}

p
{
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}

ul
{
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}



.clock {
    margin-left: 20px;
	position: relative;
	width: 200px;
	height: 200px;
    border: outset 10px #446faa;
    border-radius: 50%;
}

.clock:after {
	position: absolute;
	content: '';
	background: #808080;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 50%;
}

.hands {
	position: absolute;
	top: 0;
	left: 0;
    margin: -100px 0px 0px -100px;
}

#clock
{
    height: 300px;
    width: 250px;    
    background: url(images/Cloud-And-Sunrise-Sunset-Wallpapers.jpg);
    background-position: right;
    position: relative;
    margin: -364px 0px 0px 745px;
    background-size: cover;
}

#clockLabel
{
    font-size: 30px;
    padding-top: 30px;
    border-top: solid 5px;
    color: #5e6574;
    text-align: center;
}

#welcome
{
    margin-left: 0;
    width: 625px;
    height: 300px;
}

#linkDesk .column .container paper-material
{
    width: 100px;
    height: 100px;
}

#linkDesk #secondColumn
{
    margin-left: 175px;
}


#linkDesk #thirdColumn
{
    margin-left: 350px;
}


#linkDesk #fourthColumn
{
    margin-left: 525px;
}

#linkDesk .container 
{
    height:10px;
    width: 10px;
}

#linkDesk .container c
{
    opacity: 0;
    width: 100px;
    height: 100px;
}

#linkDesk .container #black
{
    display: none;
}

#linkDesk .container #blue
{
    width: 160px;
    height: 10px;
}

#linkDesk .container #white
{
    width: 0px;
    height: 10px;
}

#linkDesk .container #URL1:hover #white
{
    width: 160px;
}

#linkDesk .container #URL1:hover 
{
    height: 235px;
    z-index: 1;
}

#linkDesk .container #URL1 b
{
    width: 100px;
    height: 50px;
}

#linkDesk .container #URL1:hover c
{
    display: block;
    transition: 1s;
    opacity: 1;
}

#linkDeskLabel
{
    margin: 0px;
    margin-top: 50px;
    width: 625px;
}

#addLink
{
    position: absolute;
    margin: -55px 0px 0px 580px;
    height: 50px;
    width: 50px;
}
